body {
  margin: 0;
  overflow: hidden;
}

.win {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win h1 {
  color: white;
  font-size: 64px;
}

button {
  font-size: 24px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 10px;
}

.levelCont {
  position: absolute;
  right: 10px;
  top: 0px;
  padding: none;
  margin: none;
}

.level {
  color: white;
  font-size: 32px;
}

.complete {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete h1 {
  color: white;
  font-size: 64px;
}

.is-hidden {
  display: none;
}