input {
    display:block;
    text-align: center;
    border: none;
    font-size: 64px;
    width: 200px;
}
 
input:focus {
    outline: none;
}

button:focus {
    outline:none;
}

button:disabled {
    color:black;
}

svg {
    position: absolute;
    z-index: -1;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: none;
    border: none;
    font-size: 32px;
}